<div class="footer-spacer"></div>
<div class="navbar navbar-list navbar-inverse navbar-fixed-bottom" id="footer"> 
	<div class="container-fluid">
        <div class="nav-collapse"> 
        </div>
    </div>
</div>