<%= render 'admin/navigation' %>

<div class="user-profile">
	<div class="page-header">
		<%= image_tag '/assets/avatars/no_avatar.png', :size => '100x100' %>
		<h1>Anlegen <small>Daten eingeben</small></h1>
	</div>
	<%= render 'form-new' %>
</div>