<div class="navbar navbar-list navbar-inverse navbar-static-top"> 
	<div class="container-fluid">
        <div class="nav-collapse"> 
        </div>
    </div>
</div>

<div class="user-profile">
	<div class="page-header">
		<%= image_tag '/assets/avatars/no_avatar.png', :size => '100x100' %>
		<h1>Registrieren <small>Daten eingeben</small></h1>
	</div>
	<%= render 'form-register' %>
</div>