<% if(current_user) %>

	<h3>Fehler zu Route <%= @boulder_name%> melden</h3>
	<div class="field">
		<textarea id="error_for_<%= @boulder_id %>"></textarea>
	</div>
	<div class="actions">
		<a class="btn btn-info" href="javascript:submitErrorReport(<%= @boulder_id %>, <%= current_user.id %>)">Fehler melden</a>
	</div>

<% end %>