<div id="tick-popup" style="display: none;">
	<span>Top or Flash?<span><%= link_to "X", "/boulders", {:id => "close-tick-popup"} %></span></span>
	<ul>
		<li><%= link_to "Top", "/boulders", {:id => "tick-top"} %></li>
		<li><%= link_to "Flash (+10%)", "/boulders", {:id => "tick-flash"} %></li>
	</ul>
</div>